<nav class="navbar fixed-bottom navbar-light bg-light pb-0">
  <div class="container d-flex justify-around">
    <%= link_to root_path, data: { turbo: false }, class: 'text-center' do %>
      <i class="fas fa-house-user fa-2x"></i><br>Home
    <% end %>
    <%= link_to calendar_path, data: { turbo: false }, class: 'text-center' do %>
     <i class="far fa-calendar-alt fa-2x"></i><br>Calendar
    <% end %>
    <%= link_to files_path, data: { turbo: false }, class: 'text-center' do %>
      <i class="far fa-file-alt fa-2x"></i><br>Files
    <% end %>
    <%= link_to organisation_path, data: { turbo: false }, class: 'text-center' do %>
      <i class="far fa-question-circle fa-2x"></i><br>Help
    <% end %>
  </div>
</nav>

