.card-product-home {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-home img {
  height: 88px;
  width: 88px;
  object-fit: cover;
}

.card-product-home h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product-home p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-home .card-product-infos {
  width: 100%;
  padding: 16px;
}

.card-product-home .card-line {
  height: 2px;
  background-color:$green;
}

.img_preview {
  max-height: 150px;
}
