$carousel-height: 55vh;

#carouselLanding {
  background-color: white;
  margin: 0 auto;
  width: 80vw;
  height: $carousel-height;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  .carousel-indicators > li {
    background-color: grey;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }

  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 1.5rem;
    font-weight: bold;
    color: grey;
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 1.5rem;
    font-weight: bold;
    color: grey;
  }

  .carousel-inner {
    width: 100%;
    height: $carousel-height;


    .carousel-item {
      max-height: 100%;

      img {
        max-width: 80%;
        max-height: 100%;
        display: flex;
        margin: 4.6rem auto;
      }

      .carousel-caption {
        position: absolute;
        top: 0px;
        color: black;
        height: $carousel-height;
      }
    }
  }
}

#logo {
  display: flex;
  margin: 20px auto;
}
